@media screen and (max-width: 450px) {
    .plus {
        right: 10px;
        bottom: 5px;
    }

    .loader-long {
        width: 50%;
        height: 15px;
        bottom: 220px;
    }

    .main-logo {
        display: none;
    }

    .result {
        padding: 5px;
        font-size: 20px;
        margin-top: 3rem;
    }

    .from {
        bottom: 100px;
    }
}